.auth-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  justify-content: space-between;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .auth-container {
    flex-direction: row;
  }
}

.auth-container > *:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .auth-container > *:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
